* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
}
/* body of both index and game page */
body {
    font-family: Arial, sans-serif; 
    background-color: blanchedalmond;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    margin: 20px;
    padding: 20px; 
}

/* Apply these styles to both mainpage and container classes */
.mainpage,.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.mainpage h2,.container h2 {
    margin: 50px;
}

.mainpage img,.container img {
  width: 500px;
  height: 500px;
}

.btn {
    background-color: #313966;
    border-radius: 12px;
    color: rgb(252, 249, 249);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
}

.btn:hover,.container button:hover {
    background-color: black;
    color: white;
}

.choice,.container.choice {
    margin: 10px;
    padding: 10px 20px;
    font-size: 18px;
}

#scoreboard,.container #scoreboard {
    margin-top: 20px;
    font-size: 20px;
}

#player-score, #computer-score,.container #player-score,.container #computer-score {
    margin: 10px;
}

/*index html specif style*/
.mainpage h1 {
    margin-bottom: 10px;
}

.mainpage p {
    font-size: 1.5rem;
    margin-bottom: 50px;
}

/*game html specif style*/
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.container h1 {
    margin-top: 30px;
    margin-bottom: 30px;
}

.container input[type="text"] {
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.container button, #backToMainPageBtn {
    background-color: #313966;
    border-radius: 12px;
    color: rgb(252, 249, 249);
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    transition-duration: 0.4s;
    margin-bottom: 30px;
}

#backToMainPageBtn:hover{
    background-color: black;
    color: white;
}

#instructions {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

#game-result {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}

#round-result {
    font-size: 1.2rem;
    line-height: 1.5rem;
    margin-bottom: 20px;
    text-align: center;
}
.past-scores-container h3 {
    justify-content: center;
    text-align: center;
    margin-bottom: 15px;
}

.past-scores-container tbody {
    text-align: center;
    justify-content: center;
    line-height: 1.5rem;
}


#past-scores-table {
    max-width: 80%; 
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

/*footer style*/
.footercontainer {
    color: #313966;
    font-size: 1.2rem;
    margin: 30px;
    text-align: center;
}

.footercontainer a {
    text-decoration: none;
    color: #313966;
}
.footercontainer a:hover{
    color: rgb(182, 168, 230);
}

@media (min-width: 769px) and (max-width: 1024px) {
    .mainpage,.container {
         font-size: 95%;
     }
     
    
    .mainpage img,.container img {
         width: 400px;
         height: 400px;
     }
     
     
    .btn,.container button {
         padding: 10px 24px;
     }
 }
@media (max-width: 768px) {
    .mainpage,.container {
          font-size: 90%;
     }

     #past-scores-table {
        font-size: 0.9rem; 
        max-width: 95%; 
    }
    .mainpage,.container {
        font-size: 90%;
    }

    .mainpage img,.container img {
        width: 300px; 
        height: 300px; 
    }

    #past-scores-table {
        font-size: 0.9rem;
        max-width: 95%;
    }

   .choice,.container.choice {
        font-size: 16px;
    }

   .btn,.container button {
        padding: 10px 24px;
    }
}

@media (min-width: 321px) and (max-width: 480px) {
   
    
    .mainpage,.container {
         font-size: 85%; 
     }
 
    .mainpage img,.container img {
         width: 200px; 
         height: 200px; 
     }
 
    .btn,.container button {
         padding: 8px 20px; 
     }
 
    .choice,.container.choice {
         font-size: 14px; 
     }
 
     #past-scores-table {
         font-size: 0.8rem; 
         max-width: 90%; 
     }
 }